.feature__blogs__container {
  background-color: #eff3f5;
  padding: 60px 0;
}
.feature__blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

/* ########### MEDIAS QUERY ###########*/

@media screen and (max-width: 1140px) {
  .feature__blogs {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .feature__blogs {
    grid-template-columns: 1fr;
  }
}
