* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --container-width-lg: 76%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 0.1s ease-in;

  --screen-sm: 540px;
  --screen-md: 768px;
  --screen-lg: 1140px;

  --turquoise: #00ced1;
  --green: #7fff00;
  --orange: #ffa500;
  --yellow: #ffd700;
  --gray: #808080;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--black);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

/* ########### HEADER STYLES ###########*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  position: sticky;
  top: 0;
}

.logo h1 {
  margin: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.search input {
  padding: 15px 25px;
  outline: none;
  border-radius: 20px;
  border: 1px solid var(--orange);
  width: 400px;
}
.search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav {
  transition: var(--transition);
}
.header nav svg {
  display: none;
  font-size: 2rem;
}
.header .navbar {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  list-style: none;
}

.header .navbar .nav__item {
  padding: 10px;
  border-bottom: 1px solid transparent;
  transition: var(--transition);
  font-size: 1.1rem;
}

.header .navbar .nav__item:hover {
  border-bottom: 1px solid var(--orange);
}

/* ########### HERO ###########*/
.hero {
  min-height: 80vh;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.left {
  width: 70%;
}
.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .blog__card {
  position: relative;
  color: var(--white);
  transition: var(--transition);
}
.hero .blog__card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.hero .blog__card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px -88px 122px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px -88px 122px -6px rgba(0, 0, 0, 1);
  box-shadow: inset 0px -88px 122px -6px rgba(0, 0, 0, 1);
}
.hero .blog__card .blog__card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 10% 7%;
  display: flex;
  flex-direction: column;
}
.hero .blog__card span {
  margin-bottom: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  border-bottom: 2px solid var(--orange);
  border-right: 2px solid var(--orange);
  width: max-content;
  font-weight: 500;
}
.hero .blog__card h3 {
  margin-bottom: 4%;
  font-size: 1.2rem;
}
.hero .blog__card p {
  opacity: 0.8;
}
.left .blog__card-big h3 {
  font-size: 3rem;
}
.left .blog__card-big img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.right .blog__card img {
  object-fit: cover;
  max-width: 100%;
}
/* ########### MEDIAS QUERY ###########*/

@media screen and (max-width: 1366px) {
  .search {
    display: none;
  }
  /*#########*/
  .hero .blog__card h3 {
    font-size: 1rem;
  }
  .left .blog__card-big h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1140px) {
  .search {
    display: none;
  }
  /*#########*/
  .hero {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .hero .blog__card h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
  }
  .hero .blog__card h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 540px) {
  .container {
    width: var(--container-width-sm);
  }
  .header {
    padding: 20px 0;
    z-index: 3;
  }
  .header nav svg {
    display: flex;
  }
  .header .navbar {
    flex-direction: column;
    position: absolute;
    top: 84px;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: var(--white);
    text-align: center;
    width: 100%;
    height: min-content;
    transform: scale(0);
    transition: var(--transition);
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
  }
  .header .navbar.active {
    transform: scale(1);
  }
  .header .navbar .nav__item{
    width: 100%;

  }
  .header .navbar .nav__item:hover{
    background-color: var(--white);
    color: var(--black);
  }
  /*#########*/
  .hero .blog__card h3 {
    font-size: 1.2rem;
  }
}
