* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --container-width-lg: 76%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 0.1s ease-in;

  --screen-sm: 540px;
  --screen-md: 768px;
  --screen-lg: 1140px;

  --turquoise: #00ced1;
  --green: #7fff00;
  --orange: #ffa500;
  --yellow: #ffd700;
  --gray: #808080;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--black);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

/* ########### HEADER STYLES ###########*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.logo h1 {
  margin: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.search input {
  padding: 15px 25px;
  outline: none;
  border-radius: 20px;
  border: 1px solid var(--orange);
  width: 400px;
}
.search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav {
  transition: var(--transition);
}
.header nav svg{
  display: none;
  font-size: 2rem;
}
.header .navbar {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  list-style: none;
}

.header .navbar .nav__item {
  padding: 10px;
  border-bottom: 1px solid transparent;
  transition: var(--transition);
  font-size: 1.1rem;
}

.header .navbar .nav__item:hover {
  border-bottom: 1px solid var(--orange);
}

/* ########### MEDIAS QUERY ###########*/

@media screen and (max-width: 1140px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
  }
}
@media screen and (max-width: 540px) {
  .container {
    width: var(--container-width-sm);
  }
  .header nav svg {
    display: flex;
  }
  .header .navbar {
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: var(--white);
    text-align: center;
    width: 100%;
    height: min-content;
    transform: scale(0);
    transition: var(--transition);
  }
  .header .navbar.active{
    transform: scale(1);
  }
}
