.categories .container {
  display: flex;
  gap: 50px;
  padding: 100px 0;
}
.categories .container .left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.categories .container .left .categorie__title {
  font-weight: 800;
  font-size: 2rem;
}
.categories .container .left .categorie__blogs__container {
  display: flex;
  gap: 40px;
}
.categories .container .right {
  width: 30%;
}

/* ########### MEDIAS QUERY ###########*/

@media screen and (max-width: 1140px) {
  .categories .container .left .categorie__blogs__container {
    flex-direction: column;
  }
  .categories .container {
    padding: 70px 0;
  }
}

@media screen and (max-width: 768px) {
  .categories .container {
    flex-direction: column;
    padding: 30px 0;
  }
  .categories .container .left {
    width: 100%;
  }
  .categories .container .right {
    width: 100%;
  }
}
