.newsletter__vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  background-color: #eff3f5;
  height: max-content;
  gap: 20px;
}
.newsletter__vertical h6 {
  font-weight: 700;
  font-size: 1.4rem;
}
.newsletter__vertical p {
  text-align: center;
}
.newsletter__vertical .newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.newsletter__vertical .newsletter__form input {
  border: none;
  height: 40px;
  font-size: 0.9rem;
  outline: none;
  padding: 25px 10px;
  color: var(--gray);
  width: 100%;
}
.newsletter__vertical .newsletter__form button {
  border: none;
  height: 40px;
  font-size: 1.2rem;
  outline: none;
  padding: 25px 10px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--orange);
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  transition: var(--transition);
}
.newsletter__vertical .newsletter__form button:hover {
  background-color: var(--yellow);
}
.newsletter__vertical .newsletter__form span {
  text-align: center;
  color: var(--turquoise);
  font-weight: 500;
}
