.news {
  padding: 100px 0;
}
.news .container {
  display: flex;
  gap: 40px;
}
.news .container .left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news .container .left h5 {
  font-size: 2rem;
  font-weight: 800;
}
.news .container .left .news__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news .container .right {
  width: 30%;
}
.news .container .right .add__space {
}
.news .container .right .news__carousel {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news .container .right .news__carousel h5 {
  font-weight: 800;
  font-size: 2rem;
}
.news .container .right .news__carousel .slide {
  width: 100%;
  position: relative;
}
.news .container .right .news__carousel .slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.news .container .right .news__carousel .slide img {
  object-fit: contain;
  width: 100%;
}
.news .container .right .news__carousel .slide img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}
.news .container .right .news__carousel .slide div {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  width: 100%;
  padding: 3%;
}
.news .container .right .news__carousel .slide div h4 {
  font-size: 1.2rem;
}
.news .container .right .news__carousel .slide div p {
  font-size: 0.8rem;
}
.news .container .right .news__carousel .slide div p span {
  color: var(--orange);
}

/* ########### MEDIAS QUERY ###########*/

@media screen and (max-width: 1140px) {
  .news .container {
    flex-direction: column;
  }
  .news .container .left {
    width: 100%;
  }
  .news .container .right {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 540px) {
}
